[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
colorama = "*"
tqdm = "*"
python-dateutil = "*"
logger = "*"

[requires]
python_version = "3.7"
